<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Edit Products</title>
    <link rel="stylesheet" href="/css/add.css">
</head>
<body>

    <div class="container">

        <form id="form" action="/update/<%= data[0].user_id%>" method="post" enctype="multipart/form-data">

            <Div class="header">
                <h1>Edit Details</h1>
            </Div>
            <div class="inputs">

                <span>ID:</span>
                <input type="text" placeholder="00-0000" id="User_id" name="pid" value="<%= data[0].user_id%>">
                <span>Name:</span>
                <input type="text" placeholder=" abc" id="pid" name="Name" value="<%=data[0].Name%>">
                <span>Dept:</span>
                <input type="text" placeholder="Department" id="price" name="Dept" value="<%=data[0].Dept%>">
                <span>City:</span>
                <input type="text" placeholder="XYZ" id="price" name="City" value="<%=data[0].City%>">
                <span>Add Picture:</span>
                <input type="file" placeholder="XYZ" id="img" name="img" value="%=data[0].profile">
            </div>
            <input type="submit" value="submit" name="submit">
            <input type="reset" value="Reset">
            </div>
        </form>
    </div>
</body>

</html>